<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lyn.jxc.dao.CustomerReturnListGoodsDao">
    <resultMap id="BaseResultMap" type="com.lyn.jxc.entity.CustomerReturnListGoods">
        <result column="customer_return_list_goods_id" property="customerReturnListGoodsId" jdbcType="INTEGER"/>
        <result column="goods_id" property="goodsId" jdbcType="INTEGER"/>
        <result column="goods_code" property="goodsCode" jdbcType="VARCHAR"/>
        <result column="goods_name" property="goodsName" jdbcType="VARCHAR"/>
        <result column="goods_model" property="goodsModel" jdbcType="VARCHAR"/>
        <result column="goods_unit" property="goodsUnit" jdbcType="VARCHAR"/>
        <result column="goods_num" property="goodsNum" jdbcType="INTEGER"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="total" property="total" jdbcType="DECIMAL"/>
        <result column="customer_return_list_id" property="customerReturnListId" jdbcType="INTEGER"/>
        <result column="goods_type_id" property="goodsTypeId" jdbcType="INTEGER"/>
    </resultMap>
    <insert id="insert">
        INSERT INTO t_customer_return_list_goods
        values (0, #{goodsId}, #{goodsCode}, #{goodsName}, #{goodsModel},
                #{goodsNum}, #{goodsUnit}, #{price}, #{total}, #{customerReturnListId}, #{goodsTypeId})
    </insert>
    <delete id="deleteByCustomerReturnListId">
        DELETE
        FROM t_customer_return_list_goods
        WHERE customer_return_list_id = #{customerReturnListId}
    </delete>
    <select id="getCustomerReturnTotalByGoodsId" resultType="java.lang.Integer">
        select sum(goods_num)
        from t_customer_return_list_goods
        where goods_id = #{goodsId}
    </select>
    <select id="getCustomerReturnListGoods" resultMap="BaseResultMap">
        SELECT t_customer_return_list_goods.customer_return_list_goods_id,
               t_customer_return_list_goods.goods_id,
               t_customer_return_list_goods.goods_code,
               t_customer_return_list_goods.goods_name,
               t_customer_return_list_goods.goods_model,
               t_customer_return_list_goods.goods_num,
               t_customer_return_list_goods.goods_unit,
               t_customer_return_list_goods.price,
               t_customer_return_list_goods.total,
               t_customer_return_list_goods.customer_return_list_id,
               t_customer_return_list_goods.goods_type_id
        FROM t_customer_return_list_goods
        WHERE customer_return_list_id = #{customerReturnListId}
    </select>
    <select id="getCustomerReturnListGoodsListByGoodsTypeIdAndCodeOrName" resultMap="BaseResultMap">
        SELECT
        t_customer_return_list_goods.customer_return_list_goods_id,
        t_customer_return_list_goods.goods_id,
        t_customer_return_list_goods.goods_code,
        t_customer_return_list_goods.goods_name,
        t_customer_return_list_goods.goods_model,
        t_customer_return_list_goods.goods_num,
        t_customer_return_list_goods.goods_unit,
        t_customer_return_list_goods.price,
        t_customer_return_list_goods.total,
        t_customer_return_list_goods.customer_return_list_id,
        t_customer_return_list_goods.goods_type_id,
        jxc.t_goods_type.goods_type_name,
        t_goods_type.p_id
        FROM
        t_customer_return_list_goods
        LEFT JOIN t_goods_type ON t_customer_return_list_goods.goods_type_id = t_goods_type.goods_type_id
        <where>
            t_customer_return_list_goods.customer_return_list_id = #{customerReturnListId}
            <if test="goodsTypeId != null and goodsTypeId != 1">
                AND
                (
                t_customer_return_list_goods.goods_type_id = #{goodsTypeId} OR
                t_goods_type.p_id = #{goodsTypeId}
                )
            </if>
            <if test="codeOrName != null and codeOrName != ''">
                AND
                (
                t_customer_return_list_goods.goods_name LIKE CONCAT('%', #{codeOrName} ,'%') OR
                t_customer_return_list_goods.goods_code LIKE CONCAT('%', #{codeOrName} ,'%')
                )
            </if>
        </where>
    </select>
</mapper>
